<a href="https://colab.research.google.com/github/solobala/pyda36/blob/main/IvanGame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Это координаты центров регионов Игры с разбивкой по областям (Area) - для последующей генерации Beast и hostile

In [7]:
df=pd.read_csv('/content/testfile.txt', names = ['Цвет','ячейка', 'координаты'])

In [8]:
df

     Цвет  ячейка    координаты
0       2    R2C2  (-608;-1344)
1       2    R2C3  (-608;-1280)
2       2    R2C4  (-608;-1216)
3       2    R2C5  (-608;-1152)
4       2    R2C6  (-608;-1088)
..    ...     ...           ...
855     6  R21C40    (608;1088)
856     6  R21C41    (608;1152)
857     6  R21C42    (608;1216)
858     3  R21C43    (608;1280)
859     6  R21C44    (608;1344)

[860 rows x 3 columns]

In [14]:
df.loc[df['Цвет']==1, 'Зона']='Вода'
df.loc[df['Цвет']==2, 'Зона']='никакая'
df.loc[df['Цвет']==3, 'Зона']='Побережье'
df.loc[df['Цвет']==4, 'Зона']='Горы'
df.loc[df['Цвет']==5, 'Зона']='Пустыня'
df.loc[df['Цвет']==6, 'Зона']='Леса'
df.loc[df['Цвет']==7, 'Зона']='Поле'

In [17]:
df['x'] = df['координаты'].apply(lambda word: word.split(';')[0])
df['y'] = df['координаты'].apply(lambda word: word.split(';')[1])

In [21]:
df['Строка'] = df['ячейка'].apply(lambda word: word[1:2])
df['Столбец'] = df['ячейка'].apply(lambda word: word[3:4])

In [22]:
df

     Цвет  ячейка    координаты       Зона      x       y Строка Столбец
0       2    R2C2  (-608;-1344)    никакая  (-608  -1344)      2       2
1       2    R2C3  (-608;-1280)    никакая  (-608  -1280)      2       3
2       2    R2C4  (-608;-1216)    никакая  (-608  -1216)      2       4
3       2    R2C5  (-608;-1152)    никакая  (-608  -1152)      2       5
4       2    R2C6  (-608;-1088)    никакая  (-608  -1088)      2       6
..    ...     ...           ...        ...    ...     ...    ...     ...
855     6  R21C40    (608;1088)       Леса   (608   1088)      2       C
856     6  R21C41    (608;1152)       Леса   (608   1152)      2       C
857     6  R21C42    (608;1216)       Леса   (608   1216)      2       C
858     3  R21C43    (608;1280)  Побережье   (608   1280)      2       C
859     6  R21C44    (608;1344)       Леса   (608   1344)      2       C

[860 rows x 8 columns]